body {
    font-family: 'Ubuntu', sans-serif;
}


.bg-second {
    background: #FF5522;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
}
.logo {
    height: 40px;
    margin-right: 10px;
}

.shadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.21), 0 0px 4px 0 rgba(0, 0, 0, 0.51), 0 0 20px 0 hsla(0, 0%, 0%, 0.1) !important;
}

.background-none {
    background: none;
}

.icon_account {
    font-size: 40px;
    margin-left: 20px;
}
.btn-change {
    height: 40px;
    width: 40px;
    line-height: 48px;
}
label i {
    vertical-align: bottom;
    margin-right: 10px;
}

.icon_left {
    vertical-align: bottom;
    margin-right: 10px;
}

.openMenu {
    transform: translateX(0rem) !important;
}

#menu {
    transition: transform 0.2s;
    transform: translateX(-17rem);
    width: 17rem ;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    z-index: 5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

#menu p {
    padding: 0;
    margin: 0;
    padding-left: 2rem;
}
#menu h6 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 0.2rem;
    font-weight: bold;
}

#menu a {
    color:#212121;
}

#menu a.selected {
    color:#007bff;
    background: #eeeeee;
    font-weight: bold;
}

#menu a:hover {
    transition: background 0.1s;
    background: #eeeeee;
    text-decoration: none;
}